

h3{
	text-align: center;
}

#carga-modulos-enlaces{
}

div{
		background:#ffffff;

}

legend{
	width: auto;
	font-size: 13px;
	font-weight: bold;
}
fieldset {
	padding: 15px;	
	background:#ffffff;
 }

fieldset *{
	
	background:#ffffff;
 }
 #buttons button *{
 	background:#26a69a;
 	color: white;

 }

 #buttons button:hover {
 	color: white;

 }

#buttons  center{background:white;
 	}
 h5{background:white;
 	text-align: center;}

 	.row *{background:#f9f9f9;
 		color:#474747;}
 		.row {background:#f9f9f9;
 			color:#474747;}